:root {
  --tile-size: 10vw;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.board {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, var(--tile-size));
  grid-auto-rows: var(--tile-size)

}
.cell {
  border: 1px solid black;
}
